<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Tourist Attraction</title>
</head>
<body>
<h2>Add Tourist Attraction</h2>
<form action="/save" method="post">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="description">Description:</label><br>
    <textarea id="description" name="description"></textarea><br>
    <label for="city">City:</label><br>
    <input type="text" id="city" name="city"><br>
    <label for="tags">Tags:</label><br>
    <input type="text" id="tags" name="tags"><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
