<!-- footer.html -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>Contact Us</h4>
                <p>Email: CopenhagenTouristGuide@gmail.com</p>
                <p>Phone: +45 82 93 23 04</p>
                <p>Address: Gulderbergs Gade 29N</p>
            </div>
            <div class="col-md-6">
                <h4>Follow Us</h4>
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bottom-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2024 Your Website. All rights reserved.</p>
                </div>
                <div class="col-md-6">
                    <p class="text-right">Designed by Your Company</p>
                </div>
            </div>
        </div>
    </div>
</footer>
