<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Attractions</title>
</head>
<body>
<h1>Tourist Attractions:</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="attraction : ${attractions}">
        <td th:text="${attraction.name}"></td>
        <td th:text="${attraction.description}"></td>
        <td>
            <a th:href="@{'/attractions/' + ${attraction.name}/tags}">Tags</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="#">Add Attraction</a>
</body>
</html>
