<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Tourist Website</title>
</head>
<body>
<h1>Welcome to the Tourist Website</h1>
<h2>Tourist Attractions:</h2>
<ul>
    <!-- Use Thymeleaf to loop through the list of tourist attractions -->
    <li th:each="attraction : ${attractions}">
        <span th:text="${attraction.name}"></span> - <span th:text="${attraction.description}"></span>
    </li>
</ul>
<ul>
    <li><a href="/attractions/add">Add Attraction</a></li>
    <li><a href="/attractions">Go to Attraction List</a></li>
</ul>
</body>
</html>

